<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Resto for You" />
    <meta name="theme-color" content="#db0000" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <link rel="manifest" href="manifest.json" />
    <link rel="icon" href="resto.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" />
    <link rel="icon" href="favicon.png" />
    <title>Pelipur</title>
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    
    <custom-header></custom-header>
    
     <!-- Hero -->
    <div class="hero">
      <div class="hero__inner">
        <h1 class="hero__title">Untuk Bumi Yang Lebih Sehat</h1>
        <p class="hero__tagline">Jadilah Penyelamat Bumi Kita Untuk Generasi Yang Akan Datang</p>
      </div>
    </div>
    <br />


    <main tabindex="0" id="maincontent">
     
    </main>

    <footer>
        <div tabindex="0" class="alamat">
          <h3>Alamat :</h3>
          <p>
            jl. Green Sedayu Bizpark Blok DM Boulevard No.2 Jl.Daan Mogot KM.18
            Kali Deres - Jakarta Barat
          </p>
          <p>Tlp/Wa : 0857 XXX XXX</p>
        </div>

        <div tabindex="0" class="medsos">
          <ul>
            <li>Instaram</li>
            <li>Facebok</li>
          </ul>
        </div>

        <div tabindex="0" class="copyrig">
          <p>
            &copy; Copyright 2022 | Pengelolaan Limbah Untuk Ramah lingkungan
            (Pelipur)
          </p>
        </div>

        <script src="../scripts/utils/drawer-initiator.js"></script>
      </footer> -->

      <div class="wrapper">
        <aside id="aside">
          <div class="sidebar">
            <div class="sidebar__logo-wrapper">
              <img src="./images/logo-pelipur.png" alt="Profil" class="sidebar__image-profil">
            </div >
            <div class="sidebar__menu" id="sidebar__menu">
              <ul class="sidebar__list">
                <li class="sidebar__item">
                  <a href="#" class="sidebar__link">
                    <img src="./icons/assignment_white_24dp.svg" class="sidebar__icon" alt="Pengumpulan">
                    <span class="sidebar__name">Pengumpulan</span>
                  </a>
                </li>
                <li class="sidebar__item">
                  <a href="#" class="sidebar__link">
                    <img src="./icons/history_white_24dp.svg" class="sidebar__icon" alt="Riwayat">
                    <span class="sidebar__name">Riwayat</span>
                  </a>
                </li>
                <li class="sidebar__item">
                  <a href="#" class="sidebar__link">
                    <img src="./icons/person_outline_white_24dp.svg" class="sidebar__icon" alt="Profil">
                    <span class="sidebar__name">Profil</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </aside>
      </div>
  </body>
</html>

<!-- togel const menuToggel = document.querySelector('.menu-toggle button'); const drawerelement = document.querySelector('#drawer'); menuToggel.addEventListener('click', function () { drawerelement.classList.toggle('slide'); });
