<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" />
    <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />
    <link rel="icon" href="./images/favicon.png" />
    <meta name="description" content="Resto for You" />
    <meta name="theme-color" content="#db0000" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <link rel="manifest" href="manifest.json" />
    <link rel="icon" href="resto.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" />
    <link rel="icon" href="favicon.png" />
    <title>Pelipur</title>
  </head>

  <body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>

    <custom-header></custom-header>

    <!-- Hero -->
    <!-- <div class="hero">
      <div class="hero__inner">
        <h1 class="hero__title">Untuk Bumi Yang Lebih Sehat</h1>
        <p class="hero__tagline">Jadilah Penyelamat Bumi Kita Untuk Generasi Yang Akan Datang</p>
      </div>
    </div> -->
    <!-- <br /> -->

    <main tabindex="0" id="maincontent"></main>

    <custom-footer></custom-footer>
  </body>
</html>

<!-- // togel const menuToggel = document.querySelector('.menu-toggle button'); const drawerelement = document.querySelector('#drawer'); menuToggel.addEventListener('click', function () { drawerelement.classList.toggle('slide'); }); -->
