* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

aside {
  position: fixed;
  bottom: 0;
}

.sidebar__image-profil {
  display: none;
}

.sidebar__menu {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #005555;
  box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
  width: 100%;
  height: 4.5rem;
  display: grid;
  align-content: center;
  transition: 0.5s;
}

.sidebar__list,
.sidebar__link {
  display: flex;
}

.sidebar__link {
  flex-direction: column;
  align-items: center;
  row-gap: 1px;
  margin: 0 auto;
  font-weight: 500;
  width: 100px;
  border-radius: 5px;
}

.sidebar__link:hover {
  content: "";
  background-color: #069a8e;
}

.sidebar__list {
  justify-content: space-evenly;
  align-items: center;
}

.sidebar__icon {
  padding: 10px;
  margin-top: 0.2em;
}

.sidebar__name {
  display: none;
  color: #fff;
}

@media screen and (min-width: 450px) {
  .sidebar__link {
    row-gap: 2px;
    margin: 0 auto;
    font-weight: 500;
    width: 150px;
  }
}

@media screen and (min-width: 500px) {
  .sidebar__menu {
    height: 5.5rem;
  }

  .sidebar__list {
    justify-content: space-around;
    align-items: center;
  }
  .sidebar__name {
    font-size: 0.8rem;
    display: block;
    margin-bottom: 10%;
  }
}

@media screen and (min-width: 798px) {
  .wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 14px 25px;
    background-color: #005555;
  }

  aside {
    display: flex;
    flex-basis: 25%;
    flex-direction: column;
    position: static;
  }

  .sidebar__logo-wrapper {
    margin: 1px auto 30px;
  }

  .sidebar__image-profil {
    width: 50%;
    display: block;
    margin: 35px auto 40px;
  }

  .sidebar__menu {
    position: static;
    display: block;
  }

  .sidebar__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
  }

  .sidebar__menu {
    display: flex;
    flex-direction: column;
  }

  .sidebar__link {
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 200px;
  }

  .sidebar__icon {
    padding: 2px;
    margin-top: 0;
    margin-right: 7px;
  }

  .sidebar__name {
    margin-bottom: 0;
    font-size: 15px;
  }
}
