.flow-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(auto-fill,minmax(150px,200px)); */
    text-align: center;
    
    gap: 10px;
    margin-bottom: 30px;
    
}
.flow-item{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        width: 200px;
        
        
}
.flow-item>img{
        width: 100%;
        height: 100%;
        
}