.content {
  padding: 30px;
}

.content__title {
  font-weight: 600;
  padding: 20px;
  line-height: 20px;
  font-size: 23px;
  color: #005555;
  text-align: center;
  border-bottom: 2px solid #069a8e;
}

.content__card {
  display: grid;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  margin: 3% 0 6%;
}

.card__number {
    font-weight: 600;
    font-size: 18px;
}

.card__item {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  border-radius: 10px;
  color: #fff;
  background-color: #069a8e;
  /* box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%); */
}

.content__table {
  overflow-x: auto;
  margin-bottom: 30%;
  border: 1px solid #dddddd;
  padding: 20px;
  border-radius: 5px;
  /* box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%); */
}

.table__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.table__item h4{
    font-weight: 600;
  padding: 20px 0;
  line-height: 20px;
  font-size: 18px;
  color: #005555;
}

.table__item button {
min-width: 44px;
  min-height: 44px;
  border-radius: 5px;
  padding: 10px 8px;
  cursor: pointer;
  border: none;
}

table {
  padding: 5px;
  width: 100%;
  margin: 2% 0 10px;
  border-collapse: collapse;
  border: 1px solid black;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 7px 10px;
}

th {
  text-align: center;
}

select {
  border-radius: 3px;
  min-width: 44px;
  min-height: 44px;
  padding: 0 3px;
  cursor: pointer;
}

.btn button {
  display: inline-block;
  min-width: 44px;
  min-height: 44px;
  border-radius: 5px;
  padding: 10px 8px;
  cursor: pointer;
  border: none;
  color: #fff;
}

.btn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}
.btn.confirm {
  display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn__save {
  margin-bottom: 10px;
  background-color: #36ae7c;
}

.btn__update {
  background-color: #ff8c32;
}

.btn__delete {
  background-color: #eb5353;
}

button:hover {
  content: "";
  opacity: 0.8;
}

@media screen and (min-width: 500px) {
  .content__card {
    grid-template-columns: repeat(2, 1fr);
  }

  .content__table {
    margin-top: 1%;
    margin-bottom: 20%;
  }

  table {
    margin-top: 4%;
  }
}

@media screen and (min-width: 798px) {
  .content, .dashboard-container {
    padding: 2% 40px;
    flex: 1;
  }

  .content__card {
    grid-template-columns: repeat(auto-fill, minmax(140px,1fr));
    margin-bottom: 6%;
  }

  table {
    margin-top: 2%;
  }

  .th__space {
    width: 20%;
  }

  .btn__space {
    width: 14%;
  }

  .content__table {
    margin-bottom: 7%;
  }

  .content__table .btn {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
.btn.confirm {
  flex-direction: row;
}
  .btn__save {
    margin-bottom: 0px;
  }
}
