* {
  margin: 0;
  padding: 0;
}

/* skip Element */
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #bf1722;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

.header {
  display: grid;
  grid-template-columns: 0.3fr 0.9fr auto;
  gap: 5px;
  padding: 15px 20px;
  box-shadow: 0 4px 8px 0 rgba(14, 55, 238, 0.2);
  background-color: #005555;
}

.header__inner {
  border: 1px soild red;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.nav__item {
  list-style: none;
  margin-top: 5px;
  box-sizing: border-box;
}

.nav__list li {
  line-height: normal;
  padding: 10px;
}

.nav__list li:nth-child(4) {
  border-bottom: solid 1px white;
  border-top: solid 1px white;
  border-radius: 5px;
}

.nav__list li:nth-child(5) {
  border-bottom: solid 1px white;
  border-top: solid 1px white;
  border-radius: 5px;
}

.header__inner h1 {
  font-family: segoe UI;
  font-size: 20px;
  color: white;
}

.header__inner h4 {
  font-family: calibri;
  font-size: 6px;
  color: white;
}
.nav__item a {
  text-decoration: none;
  font-family: calibri;
  color: white;
  font-size: 13px;
  padding: 15px;
  text-align: center;
}

.nav__list li .nav__item a:nth-child(4) {
  color: black;
}

button {
  opacity: 0;
}

/* logo */
.header__inner {
  width: 100px;
}

.header__inner img {
  width: 100%;
}

/* heros Image */
.hero {
  display: flex;
  width: 100%;
  min-height: 500px;
  align-items: center;
  text-align: center;
  background-position: center;
  background-image: url('../public/images/heros/bumi.jpg');
}

.hero__inner {
  margin: 0 auto;
  width: 100%;
}

.hero__inner h1 {
  margin: 0 auto;
  width: 100%;
  font-size: 40px;
  font-weight: bold;
  font-family: Tahoma;
}

.hero__inner p {
  margin: 0 auto;
  width: 100%;
  font-size: 20px;
  font-family: Tahoma;
}

.hero__title {
  color: #fff;
  font-weight: 500;
  font-size: 36px;
}

.hero__tagline {
  color: #fff;
  margin-top: 16px;
  font-size: 18px;
  font-weight: 300;
}

/* main */

article {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: #005555;
}

.item-produk {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  box-sizing: border-box;
}

.card {
  width: 100%;
  box-sizing: border-box;
}

.card .card-item {
  background-color: white;
  padding: 10px;
  box-sizing: border-box;
}

.card img {
  width: 100%;
  min-height: 220px;
}

.card h3 {
  padding: 10px;
  margin-top: -20px;
  color: white;
  font-size: 13px;
}

.card h2 {
  padding: 10px;
  font-family: Tahoma;
  color: #005555;
}

.card h4 {
  margin-top: -50px;
  color: white;
  padding: 10px;
}
.card p {
  padding: 5px;
  font-family: sans-serif;
  font-weight: lighter;
}

/* slider */

.slider {
  display: flex;
  width: 100%;
  padding: 10px;
  background-color: #d8efef;
  box-sizing: border-box;
}
.slider img {
  width: 100%;
  max-height: 200px;
  border-radius: 5px;
  margin: 4px;
}

/* footer */
footer {
  display: grid;
  padding: 20px;
  gap: 20px;
  background-color: #005555;
}

footer .alamat {
  text-align: center;
  font-family: Tahoma;
  font-size: 15px;
  margin-bottom: 20px;
  color: white;
}

footer .medsos li {
  list-style: none;
  margin-top: 20px;
  text-align: center;
  color: white;
}

footer .copyrig p {
  text-align: center;
  font-family: Tahoma;
  color: white;
  font-size: 12px;
  font-weight: lighter;
}

.medsos {
  width: 100%;
  margin: auto;
  text-align: center;
  box-sizing: border-box;
}
.medsos h3 {
  font-family: calibri;
  color: white;
}

.medsos ul {
  display: flex;
  box-sizing: border-box;
}

.medsos ul li {
  margin: auto;
  padding: 5px;
  box-sizing: border-box;
}

.medsos ul li:hover {
  background-color: rgb(4, 109, 127);
  border-radius: 5px;
  box-sizing: border-box;
}

.medsos img {
  width: 50%;
  max-height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  /* grid-template-columns: ; */
}
