/* * {
  margin: 0;
  padding: 0;
}

skip Element
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #bf1722;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

.header {
  display: grid;
  grid-template-columns: 0.6fr 0.3fr 1fr;
  gap: 5px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(14, 55, 238, 0.2);
  background-color: #005555;
  border-bottom: 2px solid burlywood;
}

.header__inner {
  padding: 10px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.nav__item {
  list-style: none;
  margin-top: 5px;
  box-sizing: border-box;
}

.nav__list li {
  line-height: normal;
  padding: 10px;
}

.nav__list li:nth-child(4) {
  background-color: #069a8e;
  border-radius: 5px;
}

.nav__list li:nth-child(5) {
  background-color: #069a8e;
  border-radius: 5px;
}

.header__inner h3 {
  font-family: segoe UI;
  font-size: 30px;
  color: white;
}
.nav__item a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 13px;
  padding: 17px;
  text-align: center;
}

.nav__list li .nav__item a:nth-child(4) {
  color: black;
}

button {
  opacity: 0;
}

heros Image
.hero {
  min-height: 400px;
  width: 100%;
  background-position: center;
  background-image: url('../public/images/heros/hero-image_1.jpg');
}

footer
footer {
  display: grid;
  padding: 20px;
  gap: 20px;
  background-color: #005555;
}

footer .alamat {
  text-align: center;
  font-family: Tahoma;
  font-size: 15px;
  margin-bottom: 20px;
  color: white;
}

footer .medsos li {
  list-style: none;
  margin-top: 20px;
  text-align: center;
  color: white;
}

footer .copyrig p {
  text-align: center;
  font-family: Tahoma;
  color: white;
  font-size: 12px;
  font-weight: lighter;
} */
