.content {
  padding: 30px;
}

.content__title {
  font-weight: 600;
  padding: 20px;
  line-height: 20px;
  font-size: 23px;
  color: #005555;
  text-align: center;
  border-bottom: 2px solid #069a8e;
}

.content__form {
  border-radius: 5px;
  padding: 25px;
  margin: 7% 0 20%;
  border: 1px solid #dddddd;
}

.content__form-item {
  display: grid;
  grid-template-rows: 1fr;
  margin-bottom: 20px;
}

.content__form-item label {
  line-height: 44px;
}

.content__form-item-img {
  display: grid;
  grid-template-rows: 1fr;
  margin-bottom: 40px;
  line-height: 38px;
}

.content__form-item input, .content__form-item select {
  min-width: 44px;
  min-height: 44px;
  border-radius: 5px;
  padding: 0 10px;
  font-size: inherit;
  border: 1px solid #dddddd;
}

.content__form-item.list__date input {
  width: 150px;
}

.content__form-item-img input {
  width: 200px;
}

.content__form-item input:focus,
.content__form-item-img input:focus,
.content__form-item select:focus,
.content__table select:focus,
.content__form-item textarea:focus,
.btn__delete:focus,
.btn__update:focus,
.btn__save:focus {
  outline-color: #069a8e;
}

.content__form-item textarea {
  border-radius: 5px;
  font-size: inherit;
  padding: 12px;
  border: 1px solid #dddddd;
}

.content__form-item:last-child {
  margin-bottom: 0;
}

.content__form .btn__form {
  margin: 20px 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px,1fr));
  column-gap: 10px;
  direction: rtl;
}

.btn__delete {
  background-color: #eb5353;
}

.btn__update {
  background-color: #ff8c32;
}

.btn__save {
  background-color: #36ae7c;
}

.content__form button:hover {
  content: "";
  opacity: 0.8;
}

/* checkboxes */

.select-box {
  position: static;
}

.select-box select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkBoxes {
  display: none;
  position: relative;
  border: 1px #dadada solid;
  opacity: 0;
  width: inherit;
  height: 150px;
  overflow-y: auto;
  /* z-index: 10; */
  transition: visibility 0s, opacity 0.3s linear;
  background-color: white;
}
#selectCityDisplay{
  caret-color: transparent;
  background-color: white;
}
#checkBoxes label {
  display: flex;
  padding: 5px;

}
#checkBoxes input {
  margin-right: 10px;
}
#checkBoxes input[type="checkbox"]{
  min-width: auto !important;
}
#checkBoxes label:hover {
  background-color: #005555;
  color: white;

}

@media screen and (min-width: 600px) {
  .content__form-item, .content__form-item-img {
    display: grid;
    grid-template-columns: 25% auto;
    /* margin-bottom: 10px; */
  }

  .content__form-item.list input {
    width: 250px;
  }
  
  .content__form-item.list__small input, .content__form-item.list__small select {
    width: 200px;
  }
}

@media screen and (min-width: 798px) {
  /* .content {
    padding: 2% 10%;
  } */

  /* .content__form {
    margin: 3% 0 0;
  } */

  .content__title.list {
    margin-top: 40px;
  }
}
