/* submenu start   */
.sub-menu {
  width: 50%;
}
.nav__list li .sub-menu {
  display: none;
  list-style: none;
  width: 150px;
  color: #bf1722;
}

.nav__list li:hover .sub-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-evenly;
  background-color: #005555;
  width: 120px;
}
.nav__list .sub-menu a {
  color: white;
  width: 100px;
}

/* .nav__list li a:hover {
  background-color: #069a8e;
  color: white;
  border-radius: 3px;
} */

@media screen and (max-width: 600px) {
  .sub-menu {
    margin-top: -10px;
    margin-bottom: 50px;
    margin-top: -40px;
  }
}
/* submenu-end */
