.unauthorize {
    text-align: center;
    padding-top: 2%;
  }
  
  .unauthorize p {
    font-size: 28px;
    font-weight: bold;
    color: #005555;
    text-transform: capitalize;
  }
  
  .unauthorize img {
    width: 30%;
  }
  
  @media screen and (max-width: 689px) {
    .unauthorize p {
      font-size: 18px;
    }
  }